    <h2> For Admin only</h2>
	<% @fillquestions.each do |q| %>
	<p> Question id:
	<%= q.id %>
	</p>
    <p> Name: 
	<%= q.name %>
	</p>

	<div> <strong>Quizquestions associated with this question:</strong> 
	<% q.quizquestions.each do |qq| %>
	<p>
	quizquestion id = <%= qq.id %> quiz id = <%= qq.quiz.id %> name= <%= qq.quiz.name %>
	<p/>
	<% end %>
	</div>

	<%= button_to "Delete ", { controller: "fillquestions", action: "destroy", id: q.id }, method: :delete, data: { confirm: "Are you sure?" } %>
	<% end %>

