    <h2> For Admin only</h2>
	<p> Question 
	<%= @matchquestion.id %>
	</p>

    <p> Name: 
	<%= @matchquestion.name %>
	</p>
    <p>match id:
	<%= @matchquestion.match_id %>
	</p>
    <p>m1:
	<%= @matchquestion.m1 %>
	</p>
    <p>m2:
	<%= @matchquestion.m2 %>
	</p>
