    <h2> For Admin only</h2>
	<p> Question 
	<%= @matchquestion.id %>
	</p>

    <p> Name: 
	<%= @matchquestion.name %>
	</p>

	<div> <strong>Quizquestions associated with this question:</strong> 
	<% @matchquestion.quizquestions.each do |qq| %>
	<p>
	quizquestion id = <%= qq.id %> quiz id = <%= qq.quiz.id %> name= <%= qq.quiz.name %>
	<p/>
	<% end %>
	</div>
