<%= form_tag update_lesson_user_path :method=>'post' do %>
    <% Lesson.all.each do |q| %>	
		<%= check_box_tag q.id.to_s %> <%= q.name %> id = <%= q.id %>created on:<%= q.created_at %>
	<p>
	<% end %>
	</p>
	<p>
	<%= submit_tag "Save selection" %>
	</p>
	<% end %>

<%= link_to 'Back to Users List', users_path %>
