<%= form_for :user, url: user_path(@user), method: :patch do |f| %>
  	<p>
    <%= f.label :lesson%><br>
    <%= f.text_field :lesson_id %>
  </p>  
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back to Users List', users_path %>