<%= form_tag update_add_lessons_user_path :method=>'post' do %>
    <p>Lessons for this user:</p>
    <% @user.lessons.each do |lesson| %>	
		<%= check_box_tag lesson.id.to_s %> <%= lesson.name %> id = <%= lesson.id %>(<%= lesson.level %>)
	<p>
	<% end %>
	</p>
	
	<p>For this user, <strong>ADD</strong>:</p>
	<p>
	<%= check_box_tag "add_basic_lessons" %> All basic lessons
	</p>
	<p>
	<%= check_box_tag "add_intermediate_lessons" %> All
	intermediate lessons
	</p>
	<p>
	<%= check_box_tag "add_advanced_lessons" %> All advanced lessons
    </p>
	
	<p>
	<%= submit_tag "Save selection" %>
	</p>
	<% end %>

<%= link_to 'Back to Users List', users_path %>
