<%= form_for :user, url: update_lesson_user_path(@user) do |f| %>
  	<p>
    <%= f.label :lesson%><br>
    <%= collection_select :lesson, "lesson_id", Lesson.all, :id, :name %>
  </p>  
  <p>
    <%= f.submit 'Update lesson' %>
  </p>
<% end %>
<%= link_to 'Back to Users List', users_path %>