<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'Home', welcome_index_path %></li>
  <li><%= link_to 'Lessons', lessons_path %></li>
  <li  class="active"><%= link_to 'Users', users_path %></li>
  </ul>
<h1>Users Listing</h1>
<table class = "table">
  <tr>
    <th> Name</th> 
	<th> Level</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>	
      <td><%= user.real_name %></td>
	  <td><%= user.level %></td>
	  <td><%= link_to "Add lessons", add_lessons_user_path(user.id) %></td>
	  <td><%= link_to "Remove lessons", remove_lessons_user_path(user.id) %></td>
	  
	  <td><%= link_to "Edit", edit_user_path(user.id) %></td>
	  <td><strong><%= button_to "Delete ", { action: "destroy", id: user.id }, method: :delete, data: { confirm: "Are you sure?" } %></strong></td>
	  <td><%= link_to "Assign Level", assign_level_user_path(user.id) %></td>
	  </td>
    </tr>
  <% end %>
</table>