<h1>Users Listing (for Admin only) </h1>
 
<table>
  <tr>
    <th>User id</th>
    <th> Name</th> 
	<th> Lessons</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>	
      <td><%= user.id %></td>
      <td><%= user.name %></td>
	  <td>
	  <table>
       <% user.lessons.each do |lesson| %>
			<tr>
			<td><%= link_to lesson.name, lesson_path(lesson.id) %></td>
			</tr>
	  <% end %>
	  </table>
	  </td>
	  <td><%= link_to "Add lesson", add_lesson_user_path(user.id) %></td>
	  <td><%= user.level %></td>
	  <td><%= link_to "Show", user_path(user.id) %></td>
	  <td><%= link_to "Edit", edit_user_path(user.id) %></td>
	  <td><%= link_to "Assign Level", assign_level_user_path(user.id) %></td>
	  </td>
    </tr>
  <% end %>
</table>