<%= form_for :user, url: users_path do |f| %>
  <p>
  </p>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :pasword %><br>
    <%= f.text_field :password %>
  </p>
  
  <p>
  <%= f.select :level, options_for_select([['Basic','Basic'],['Intermediate','Intermediate'],['Advanced','Advanced'],['Expert','Expert']], :selected => params[:level]) %>
  </p>
	<p>
    <%= f.label :lesson%><br>
    <%= f.text_field :lesson_id %>
  </p>  
  
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back to Users List', users_path %>