<h3> Add questions for this quiz: </h3>
<h4> Vocabularies for parent lesson:</h4>

<p>
<% @lesson.vocabularies.each do |voca|%>
    <strong><%= voca.name %></strong>
 <% end %>
</p>

<p> Select questions: </p>
<%= form_tag save_questions_lesson_quiz_path :method=>'post' do %>
<% if @available_questions.count == 0 %>
   <%= link_to 'new question', new_multichoicequestion_path %>
<% else %>
    <% @available_questions.each do |q| %>	
		<%= check_box_tag q.class.to_s + '_' + q.id.to_s %> <%= q.name %> id = <%= q.id %>
	<p>
	<% end %>
	</p>
	<p>
	<%= submit_tag "Save selection" %>
	</p>
	<% end %>
<% end %>
