<h1>Quiz</h1>
<h2><%= @quiz.name %></h2>
<p>Number of questions: <%= @quiz.quizquestions.count %></p>
<% @quiz.quizquestions.each do |q| %>
	<p>
    <%= q.qtype %> 
	id = <%= q.origin_id %>
	</p>
	<p>
  <% end %>  
  </p>  
  
<%= link_to 'Add question', add_questions_lesson_quiz_path(@quiz.lesson, @quiz) %>

<% if @quiz.quizquestions.count > 0 %>
<%=  link_to 'Take', take_quiz_lesson_quiz_path(@quiz.lesson,@quiz) %>
<% end %>
<%= link_to 'Quizzes for this lesson', lesson_quizs_path %>
<%= link_to 'Home', welcome_index_path %>
