<% if current_user %>

  <% if current_user.name == "kpham" %>
    <h2> ADMIN </h2>
  <% else %>
  <ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'Home', welcome_index_path %></li>
  <li><%= link_to 'New todo', new_todo_path %></li>
  <li><%= link_to 'Songs', welcome_index_user_path %></li>
  </ul>
  <br>
  <h2>Welcome Student to TATH.com</h2>
<table class = "table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.title %></td>
        <td><%= todo.notes %></td>
        <td><%= link_to 'Show', todo, class: 'btn btn-primary btn-xs'%></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

  <% end %>
<% end %>
<%= link_to 'New Todo', new_todo_path , class: 'btn btn-success' %>
