<% if current_user %>
  <% if current_user.name == "kpham" %>
	<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'Home', welcome_index_path %></li>
  <li><%= link_to 'Lessons', lessons_path %></li>
  <li><%= link_to 'Users', welcome_index_story_path %></li>
  </ul>

  <% else %>
  <ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'Home', welcome_index_path %></li>
  <li><%= link_to 'New todo', new_todo_path %></li>
  <li><%= link_to 'Songs', welcome_index_song_path %></li>
  <li><%= link_to 'Stories', welcome_index_story_path %></li>
  </ul>
  <br>
  <h2>Welcome <%= current_user.name %> to TATH.com</h2>
  <h2><strong>Your level: <%= current_user.level %></strong>&nbsp<i class="fa fa-star"></i></h2>
<table class = "table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.title %></td>
        <td><%= todo.notes %></td>
        <td><%= link_to 'Show', todo, class: 'btn btn-primary btn-xs'%></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

  <% end %>
<% end %>
<br>
<br>
<%= link_to 'New Lesson', new_lesson_path , class: 'btn btn-success' %>
