<% if current_user %>
  <ul class="nav nav-tabs" role="tablist">
  <li  class="active"><%= link_to 'Home', welcome_index_path %></li>
  <li><%= link_to 'Songs', lessons_path(:display => "song") %></li>
  <li><%= link_to 'Stories', lessons_path(:display => "story") %></li>
  <li><%= link_to 'Vocabulary', lessons_path(:display => "vocabulary") %></li>
  <li><%= link_to 'Phonics', lessons_path(:display => "phonics") %></li>
  <li><%= link_to 'Grammar', lessons_path(:display => "grammar") %></li>
  </ul>
  <br>
  <h2>Welcome <%= current_user.real_name %> to TATH.com</h2>
  <h2><strong>Your level: <%= current_user.level %></strong>&nbsp<i class="fa fa-star"></i></h2>
<br>
<% if current_user.name == "kpham" %>
<%= link_to 'New Lesson', new_lesson_path , class: 'btn btn-success' %>
<% end %>
<% end %>
<br>
<br>
