<h1>Add a quizquestion</h1>
<h3><%= @quiz.name %></h3>
<%= link_to 'Create new multichoice question', new_multichoicequestion_path(:lesson_id => @lesson_id,:quiz_id => @quiz_id) %>
<%= link_to 'Create new fill question', new_fillquestion_path(:lesson_id => @lesson_id,:quiz_id => @quiz_id) %>
<%= link_to 'Create new cloze question', new_clozequestion_path(:lesson_id => @lesson_id,:quiz_id => @quiz_id) %>
<%= link_to 'Create new match question', new_matchquestion_path(:lesson_id => @lesson_id,:quiz_id => @quiz_id) %>
<p> Select questions: </p>
<%= form_tag lesson_quiz_quizquestions_path :method=>'post' do %>
    <% @sorted_available_questions.each do |q| %>	
		<%= check_box_tag q.class.to_s + '_' + q.id.to_s %> <%= q.name %> id = <%= q.id %>created on:<%= q.created_at %>
	<p>
	<% end %>
	</p>
	<p>
	<%= submit_tag "Save selection" %>
	</p>
	<% end %>