<h3> Quiz results </h3>
<p><%= @user.name %> did not take this quiz yet</p>
<p> <%= @user.name %> </p>
<p> Quiz: <%= @quiz.name %>, quiz id=<%= @quiz.id %> </p>
<p> Number of pages: <%= @quiz.quizpages.count %> </p>

<p> My results</p> 
<% @my_results.each do |key, value| %></p>
	<%= key %>=<%= value %>
<% end %>

<p><%= @answer_str %></p>
<% @quiz.quizpages.each_with_index do |page, index| %>
   </p>
   <strong>Page <%= index+1 %></strong>
   <% page.question_clozequestions.each do |cloze_question| %>
       <% if @user.name == 'kpham' %> </p>
	       <p><strong>Question ID: <%= cloze_question.id %></strong></p>
	   <% end %>
       <p>Question: <%= cloze_question.question %></p>
	   <p>You answer: </p>
	   <p>Correct Answer: </p>
   <% end %>
   </p>
<% end %>