<h3> Quiz results </h3>
<% if @quizquestionresults.count == 0 %>
<p><%= @user.name %> did not take this quiz yet</p>
<% else %>
<p> <%= @user.name %> </p>
<p> Quiz: <%= @quiz.name %>, quiz id=<%= @quiz.id %> </p>
<p> Number of questions: <%= @results_arr.count %> </p>
<% @results_arr.each_with_index do |r, index| %>
    <p>Question <%= index + 1 %>:<%= r["qtype"] %></p>
	<% if r["qtype"] == "Multichoicequestion" %>
	  <div>
	   <p>
	   <p>user answer: <%= r[:user_answer] %></p>
	   <p>key: <%= r[:key] %></p>
	   <p>status: <%= r[:status] %></p>
	  </div>
    <% elsif r["qtype"] == "Matchquestion" %>
	   <div>
		<table width = "450">	    
	   <tr>
	   	  <td>
		  <table>
		    <th>Match</th>
		    <% r["matches"].each do |match| %>
		    <tr>			 
			  <td>
			    <%= match %>
			  </td>
			</tr>
			<% end %>
		  </table>
		  </td>	
   
	      <td>
		  <table>
		    <th>Correct answers</th>
		    <% r["answer_keys"].each do |key| %>
		    <tr>			 
			  <td>
			    <%= key %>
			  </td>
			</tr>
			<% end %>
		  </table>
		  </td>	

		  <td>
		  <table>
		  	<th>User answer</th>
		    <% r["user_answers"].each do |user_answer| %>
		    <tr>			 
			  <td>
			    <%= user_answer %>
			  </td>
			</tr>
			<% end %>
		  </table>
		  </td>	

		  
		  <td>
		  <table>
		  	<th>Valuation</th>
		    <% r["my_results"].each do |result| %>
		    <tr>			 
			  <td>
			    <%= result %>
			  </td>
			</tr>
			<% end %>
		  </table>
		  </td>	
	   </tr>
	</table>	
	</div>
	<% elsif r["qtype"] == "Fillquestion" %>
	   <div>
		<p>user answer: <%= r[:user_answer] %></p>
	   <p>key: <%= r[:key] %></p>
	   <p>status: <%= r[:status] %></p>
	   </div>
	<% end %>
<% end %>
<% end %>
<%= link_to 'See results', user_quiz_quizquestionresults_path(@user, @quiz.id) %>