    <h2> For Admin only</h2>
	<p> Question 
	<%= @clozequestion.id %>
	</p>

    <p> Name: 
	<%= @clozequestion.name %>
	</p>   
	<p> question: 
	<%= @clozequestion.question %>
	</p>

    <p>
	<div>
    <% @joined_array.each do |str| %>
	     <% if str.index('[') == 0 %>
		    <% if str.index(',') != nil %>
				<%= select_tag "choice", options_for_select(string_to_hash_array(strip_brackets_from_string(str)).collect {|p| [ p['name'], p['id'] ] }) %>
			<% else %>
			    <%= text_field_tag 'answer' %>
			<% end %>
		 <% else %>
			<%= str %>
		 <% end %>
	<% end %>
    </div>
	</p>
	    <p>
	media = <%= @clozequestion.media %>
	</p>
	
	<%= link_to "Edit", edit_clozequestion_path(@clozequestion.id) %>
	<%= link_to "Back to quiz", lesson_quiz_path(@lesson_id, @quiz_id) %>
