<h3> Add users for lesson: <%= @lesson.name %> Level: <strong><%= @lesson.level %></strong></h3>
<%= form_tag save_user_lesson_path :method=>'post' do %>
    <% @all_users.each do |user| %>
	    <% if @lesson.users.include?(user) == false %>
		<%= check_box_tag 'user_'+user.id.to_s %> <%= user.name %> ( <strong><%= user.level %>)</strong>
		<% end %>
	<p>
	<% end %>
	</p>
	<p>
	<%= submit_tag "Save users" %>
	</p>
<% end %>