<%= form_for :lesson, url: lessons_path do |f| %>
<p>
Create a new lesson
</p>
<p>
Create a new lesson
</p>
<p>
Create a new lesson
</p>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :reading %><br>
    <%= f.cktext_area :reading_content, :value => '', :id => 'mycontent' %>
  </p>

    <p>
    <%= f.label :vocabulary %><br>
    <%= f.cktext_area :vocabulary_content, :value => '', :id => 'myvocabulary_content' %>
  </p>

    <p>
    <%= f.label :grammar %><br>
    <%= f.cktext_area :grammar_content, :value => '', :id => 'mygrammar' %>
  </p>
  
    <p>
    <%= f.label :phonics %><br>
    <%= f.cktext_area :phonics_content, :value => '', :id => 'myphonics' %>
  </p>

   <p>
    <%= f.label :lyrics %><br>
    <%= f.cktext_area :lyrics_content, :value => '', :id => 'mylyrics' %>
  </p>

  <p>
    <%= f.label :video%><br>
    <%= f.text_field :video, :value => '' %>
  </p>  
  
    <p>
    <%= f.label :level%><br>
  <%= f.select :level, options_for_select([['Basic','Basic'],['Intermediate','Intermediate'],['Advanced','Advanced'],['Expert','Expert']], :selected => params[:level]) %>
  </p>
 <p>
  <%= check_box_tag "add_students" %> Add lesson lesson to students at this level
  </p>
  
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back to Lessons List', lessons_path %>