<h1><%= @lesson.name %></h1>
<p>Level:<%= @lesson.level %></p>

<% if !@lesson.reading_content.blank? %>
<p>
  <strong>Reading:</strong>
  <%= raw@lesson.reading_content %>
</p>
<% end %>
<table>
<tr>
<td>
<% if !@lesson.video.blank? %>
<%= video_tag @lesson.video, :size => "320x240", :controls => true,:onended => "video_ended()" %>
<% end %>
</td>
</tr>
</table>
</p>

<% if !@lesson.vocabulary_content.blank? %>
<p>
  <strong>Vocabulary:</strong>
  <%= raw@lesson.vocabulary_content %>
</p>
<% end %>

 <% if @voca_quiz != nil %>
<p><i class="fa fa-question-circle fa-lg">&nbsp</i><%= link_to 'Vocabulary quiz', take_quiz_lesson_quiz_path(@lesson,@voca_quiz) %></p>
 <% end %>
  
<% if !@lesson.grammar_content.blank? %>
<p>
  <strong>Grammar:</strong>
  <%= raw@lesson.grammar_content %>
</p>
<% end %>

<% if @grammar_quiz != nil %>
<p><i class="fa fa-question-circle fa-lg">&nbsp</i><%= link_to 'Grammar quiz', '#' %></p>
<% end %>

<% if !@lesson.phonics_content.blank? %>
<p>
  <strong>Phonics:</strong>
  <%= raw@lesson.phonics_content %>
</p>
<% end %>


<% if @general_quiz != nil %>
<p><i class="fa fa-question-circle fa-lg">&nbsp</i><%= link_to 'General quiz', '#' %></p>
<% end %>

 <% if current_user.name == "kpham" %>
    Vocabularies: <%= link_to 'Show vocabularies', show_vocabulary_lesson_path %>
	
	Quizs:
	<p>There are <%= @lesson.quizzes.count %> quizzes for this lesson</p>
	<table>
	<% @lesson.quizzes.each do |quiz| %>
    <tr>
	  <td><%= link_to quiz.name, lesson_quiz_path(@lesson,quiz.id) %></td>
	  <td><%=  link_to 'Take', take_quiz_lesson_quiz_path(@lesson,quiz) %></td>
	</tr>
	<% end %>
    </table>
	
 <p><%= link_to 'Edit Lesson', edit_lesson_path(@lesson) %></p>
 <p><%= link_to 'Add a quiz', new_lesson_quiz_path(@lesson) %></p>
 <% else %>
<% end %>
