<h1>Exams listing</h1>
<h4><strong><%= link_to 'New Exam', new_exam_path %></strong></h4>
<% @exams.each do |exam| %>
	<p>
	<h4>Exam <%= exam.id %>&nbsp<%= exam.name %></h4>
	<table>
	<tr>
	<td><strong><%= link_to 'Show',exam_path(exam) %></strong></td>
	<td>&nbsp</td>
	<strong><%= link_to 'Add question', new_exam_examquestion_path(exam) %><strong>

    <td><strong><%= link_to 'Edit', edit_exam_path(exam) %></strong></td>
	<td><strong><%= button_to "Delete ", { action: "destroy", id: exam.id }, method: :delete, data: { confirm: "Are you sure?" } %></strong></td>
	</tr>
	</table>
	There are <%= exam.examquestions.count %> questions for this exam
	</p>
	<p>
  <% end %>
  </p>
  