<%= form_for :multichoicequestion, url: multichoicequestion_path(@multichoicequestion), method: :patch do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :choice1%><br>
    <%= f.text_field :choice1 %>
  </p>

  <p>
    <%= f.label :choice2%><br>
    <%= f.text_field :choice2 %>
  </p>
  
  <p>
    <%= f.label :choice3%><br>
    <%= f.text_field :choice3 %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back to Users List', users_path %>