    <h2> For Admin only</h2>
	<p> Question 
	<%= @multichoicequestion.id %>
	</p>

    <p> Name: 
	<%= @multichoicequestion.name %>
	</p>
    <p>
	<%= @multichoicequestion.question %>
	</p>
    <p>
	<%= @multichoicequestion.choice1 %>
	</p>
    <p>
	<%= @multichoicequestion.choice2 %>
	</p>
    <p>
	<%= @multichoicequestion.choice3 %>
	</p>
