    <h2> For Admin only</h2>
	<p> Question 
	<%= @multichoicequestion.id %>
	</p>

    <p> Name: 
	<%= @multichoicequestion.name %>
	</p>
    <p>
	<%= @multichoicequestion.question %>
	</p>
	    <p>
	media = <%= @multichoicequestion.media %>
	</p>

    <p>
	<%= @multichoicequestion.choice_label_display_mode %>
	</p>
	
    <p>
	<% @multichoicequestion.choices_multichoicequestions.each_with_index do |mychoice, index| %>
		<p>choice<%= index %>=<%= mychoice.choice %></p>
	<% end %>
	</p>
