    <h2> For Admin only</h2>
	<p> Question 
	<%= @multichoicequestion.id %>
	</p>

    <p> Name: 
	<%= @multichoicequestion.name %>
	</p>
    <p>
	<%= @multichoicequestion.question %>
	</p>
	    <p>
	media = <%= @multichoicequestion.media %>
	</p>

	<p>
	<%= @multichoicequestion.audio %>
	</p>

    <p>
	<%= @multichoicequestion.image %>
	</p>
    <p>
	<%= @multichoicequestion.choice_label_display_mode %>
	</p>
	
    <p>
	<%= @multichoicequestion.choice1 %>
	</p>
    <p>
	<%= @multichoicequestion.choice2 %>
	</p>
    <p>
	<%= @multichoicequestion.choice3 %>
	</p>
